.wrapper { text-align: center; }

#highscore-display {
  font-weight: bold;
  margin-bottom: 10px;
}

.basic {
  outline: 5px solid black;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.red    { background-color: coral; }
.green  { background-color: rgb(220,232,50); }
.yellow { background-color: rgb(134,199,5); }
.blue   { background-color: rgba(128,0,105,0.8); }

.flash {
  background-color: white !important;
}
.userflash {
  background-color: green !important;
}

h2 {
  margin-top: 20px;
}

p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.2em;
}
#rules-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 25px 35px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  text-align: left;
   background-color: rgba(0, 0, 0, 0.149);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #222;
}

#rules-container h3 {
  font-size: 1.6rem;
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
}

#game-rules {
  list-style-type: none;
  padding: 0;
}

#game-rules li {
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #000;

  font-weight: 500;
}

#game-rules li::before {
  content: "🎮";
  position: absolute;
  left: 0;
  top: 2px;
}
