.wrapper { text-align: center; }

#highscore-display {
  font-weight: bold;
  margin-bottom: 10px;
}

.basic {
  outline: 5px solid black;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.red    { background-color: coral; }
.green  { background-color: rgb(220,232,50); }
.yellow { background-color: rgb(134,199,5); }
.blue   { background-color: rgba(128,0,105,0.8); }

.flash {
  background-color: white !important;
}
.userflash {
  background-color: green !important;
}

h2 {
  margin-top: 20px;
}

p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.2em;
}
